name: Run Tests

on:
  push:
    branches: [ lab1 ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: npm install 
        working-directory: ./lab1
      - run: npm run test:run
        working-directory: ./lab1